.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: #F2F2F2;
}

p, h1, h2, h3, h4, h5, h5 {
  margin: 0;
  padding: 0;
}

.header {
  height: 97px;
  background: rgba(255, 255, 255, 0.9);
  position: sticky;
  top: 0;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 97px;
}

.header-logo__div {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  height: 97px;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  margin: 0 12px;
  color: #000;
}

.nav__link:hover {
  transition: all 0.12s linear;
  color: #EF7F04;
  border-top: 4px solid #EF7F04;
  padding-bottom: 4px;
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-button {
  background-color: #EF7F04;
  height: 40px;
  border-radius: 3px;
  margin-right: 14px;
}

.nav-button-link__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}

.nav-button__svg {
  display: flex;
  align-items: center;
  padding: 0 14px;
}

.first-button__text {
  padding-right: 19px;
}

.second-button {
  background-color: #3B3A63;
  height: 40px;
  border-radius: 3px;
}

.second-button__text {
  padding-right: 23px;
}

.our-services-main {
  padding: 65px 0 55px 0;
}

.our-services__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-services__header h1 {
  color: #2F2F51;
  font-size: 24px;
  font-weight: 700;
}

.our-services-blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}

.our-services__div {
  width: 49%;
  height: 268px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0px 0 10px 0;
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

.services-first {
  background-image: url(../img/Group\ 19.png);
}

.services-second {
  background-image: url(../img/Group\ 20.png);
}

.services-third {
  background-image: url(../img/Group\ 18.png);
}

.services-four {
  background-image: url(../img/Group\ 21.png);
}

.our-services__title {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.our-services__title h2 {
  font-size: 24px;
  color: #2F2F51;
  font-weight: 700;
}

.our-services__div-title {
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 30px;
}

.our-services__div-subtitle {
  width: 303px;
}
.our-services__div-subtitle p {
  font-size: 16px;
  color: #2F2F51;
  font-weight: 400;
}

.about-company-main {
  padding-bottom: 87px;
}

.about-company__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-company__title h1 {
  font-size: 24px;
  font-weight: 700;
  color: #2F2F51;
}

.about-company__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 25px;
}
.about-company__nav a {
  text-decoration: none;
  font-size: 18px;
  border-radius: 3px;
  padding: 8px 24px;
}

.about-company__link-active {
  color: #fff;
  font-weight: 700;
  background: #EF7F04;
  border: 1px solid #EF7F04;
  margin: 0 15px;
}

.about-company__link {
  color: #2F2F51;
  border: 1px solid #F2F2F2;
  margin: 0 15px;
}

.about-company__link:hover {
  border: 1px solid #EF7F04;
  transition: all linear 0.12s;
}

.about-company-main__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 3px;
}

.about-company-main-right {
  width: 50%;
}
.about-company-main-right img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.about-company-main-left {
  width: 50%;
  padding: 45px 50px;
}

.about-company-left__img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 0;
}

.about-company-left__subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 25px 0;
  width: 100%;
}
.about-company-left__subtitle p {
  width: 305px;
}

.about-company-last__div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-company-last-tiny {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

.about-company-last-tiny:nth-child(5) {
  justify-content: flex-start;
}
.about-company-last-tiny:nth-child(5) .about-company-last__svg {
  width: 115px;
  display: flex;
  justify-content: center;
}

.about-company-last__svg {
  margin-right: 23px;
}

.about-company-last__title h2 {
  font-size: 16px;
  font-weight: 700;
  color: #2F2F51;
  margin-bottom: 10px;
  line-height: 26px;
  text-transform: uppercase;
}
.about-company-last__title p {
  line-height: 26px;
}

.about-company-last__button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-company-last__button-div a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 18px 28px;
  background: #EF7F04;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.about-company-last__button-div a svg {
  margin-right: 23px;
}/*# sourceMappingURL=style.css.map */